/*--------------------NAV--------------------*/

#myMenu > li > a {
    font-family: 'Righteous', cursive;
}
.navbar-header > a {
    font-family: 'Righteous', cursive;
}
.navbar-default .navbar-brand {
    color: black;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #48A136;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #48A136;
}
.navbar {
    background-color: #176905;
    color: black;
    border-bottom: #48A136 solid 3px;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: #48A136;
}
a:focus, a:hover {
    color: black;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: black;
}
/*--------------------General--------------------*/
a {
    color: black;
}
body {
    margin-top: 91px;
    margin-bottom: 50px;
}
h1 {
    padding: 20px;
    text-align: center;
}
html {
    min-height: 100%;
    position: relative;
}

/*---------------Dee---------------*/

.content {
    background-color: #FFFFA5;
    padding-bottom: 50px;
}
.deeCar {
    margin-bottom: 20px;
}
@media all and (min-width: 992px) {
    .carousel-inner .item.left.active {
      transform: translateX(-33%);
    }
    .carousel-inner .item.right.active {
      transform: translateX(33%);
    }
    
    .carousel-inner .item.next {
      transform: translateX(33%)
    }
    .carousel-inner .item.prev {
      transform: translateX(-33%)
    }
    
    .carousel-inner .item.right,
    .carousel-inner .item.left { 
      transform: translateX(0);
    }
}
.carousel {
    padding: 10px;
}
.carousel-control.left,.carousel-control.right {
    background-image: none;
}

.quickFacts {
    border: #48A136 3px solid;
    border-radius: 5px;
    padding: 10px 0;
    text-align: center;
}
legend {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 30px;
    padding: 4px 15px;
}
label.field {
    display: block;
    float: left;
    text-align: right;
    width: 30%;
}
input {
    border-radius: 5px;
    margin: 10px;
    padding: 6px 8px;
}
fieldset {
    background-color:rgba(129, 187, 201,.2);
    border: 1px solid #999;
    border-radius: 20px;
    clear: both;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
    width: 80%;
}
input:focus {
    background-color: #48A136;
}
.form {
    padding: 10px 0;
}


/*---------------Charlie---------------*/

.charlieContainer {
    background-color: #A4DF8F;
    padding-bottom: 50px;
}
#myImage {
    border: #48A136 solid 3px;
    border-radius: 10px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 20px;
}
.details {
    display: none;
    text-align: center;
}
.details > button {
    background-color: #48A136;
}
iframe {
    border: #48A136 solid 3px;
}
.resp-container {
    border: #48A136 solid 3px;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin: 10px;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.quizInfo {
    display: inline-block;
}
#myForm > button {
    background-color: #48A136;
}
.formDiv {
    text-align: center;
}
#myModal {
    text-align: left;
}
.question {
    border: #48A136 solid 3px;
    border-radius: 10px;
    height: auto;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.tryAgain {
    padding-top: 10px;
}
.errorMessage {
    color: red;
}

/*---------------Mac---------------*/

.macContainer {
    padding-bottom: 50px;
}
.crow .img-responsive {
    display: inline-block; 
    vertical-align: middle;
}
/*---------------Frank---------------*/

.frankContainer {
    background-color: #FFCCC2;
    font-family: 'Courgette', cursive;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    text-align: center;
}
.frankImage {
    border: 5px solid #48A136;
    border-radius: 10px;
}
.frankPara {
    padding-bottom: 20px;
}
.money {
    border-radius: 20px;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    margin: 0 10px;
}

@keyframes money_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}
.pulse {
    animation-name: money_animation;
    animation-duration: 5000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/*---------------Dennis---------------*/

.dennisContainer {
    background-color: #B3C1DC;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 50px;
}
.dennisImage {
    border: 3px black solid;
    margin-bottom: 20px;
}
.blackboard {
    background-image: url("images/Blackboard.jpg");
    border: 3px black solid;
    border-radius: 5px;
    color: white;
    height: 200px;
    margin: 20px;
}
.chalk {
    background-image: url("images/Blackboard.jpg");
    border: 3px black solid;
    color: white;
    margin-top: 20px;
}
.chalk:focus, .chalk:hover {
    border: 3px black solid;
    color: white;
    outline: none;
}
.btn.active, .btn:active {
    border: 3px black solid;
    box-shadow: inset 0 3px 5px #48A136;
}



/*---------------Footer---------------*/

.fa-facebook {
    color: #3b5998;
}
.fa-twitter {
    color: #1DA1F2;
}
.fa-youtube {
    color: #FF0000;
}

.footer {
    background-color: black;
    border-top: 3px solid #48A136;
    bottom: 0;
    color: #48A136;
    font-family: 'Righteous', cursive;
    padding-top: 15px;
    padding-bottom: 5px;
    position: absolute;
    text-align: center;
    width: 100%;
}



